<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>BuyOrder</title>
</head>
<body>
<h1>Lista de BuyOrder</h1>
<table>
    <tr>
        <th>id</th>
        <th>unit</th>
        <th>quantity</th>
    </tr>
    <tr th:each="buy:${buyOrders}">
        <td th:text="${buy.id}">123</td>
        <td th:text="${buy.unit}">unidad</td>
        <td th:text="${buy.quantity}">cantidad</td>
    </tr>
</table>

</body>
</html>    