<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>IncidenRegistry</title>
</head>
<body>
<h1>Lista de IncidenRegistry</h1>
<table>
    <tr>
        <th>id</th>
        <th>date</th>
        <th>reason</th>
        <th>cuantificacion</th>
    </tr>
    <tr th:each="Inciden:${incidenRegistries}">
        <td th:text="${Inciden.id}">123</td>
        <td th:text="${Inciden.date}">fercha</td>
        <td th:text="${Inciden.reason}">razon</td>
        <td th:text="${Inciden.cuantificacion}">cantidad</td>
    </tr>
</table>

</body>
</html>    