<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Inventory</title>
</head>
<body>
<h1>Lista de Inventory</h1>
<table>
    <tr>
        <th>id</th>
        <th>quantity</th>
        <th>status</th>
    </tr>
    <tr th:each="Inven:${inventories}">
        <td th:text="${Inven.id}">123</td>
        <td th:text="${Inven.quantity}">Jhon</td>
        <td th:text="${Inven.status}">Doe</td>
    </tr>
</table>

</body>
</html>    