<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Training</title>
</head>
<body>
<h1>Lista de Training</h1>
<table>
    <tr>
        <th>id</th>
        <th>skill</th>
        <th>date</th>
        <th>Code</th>
        <th>area</th>
        <th>position</th>
    </tr>
    <tr th:each="train:${trainings}">
        <td th:text="${train.skill}">1</td>
        <td th:text="${train.date}">Fernando</td>
        <td th:text="${train.area}">area</td>
        <td th:text="${train.position}">posicion</td>
    </tr>
</table>

</body>
</html>    